<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yellow_dino_bite0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_bite1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{66,0},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_bite2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{132,0},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_bite3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{0,66},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_bite4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{66,66},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_headup0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{132,66},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_headup1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{0,132},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_headup2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{66,132},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_headup3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{132,132},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_headup4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{0,198},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_hurt0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{66,198},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_hurt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{132,198},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_hurt2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{0,264},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_kick0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{66,264},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_kick1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{132,264},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_kick2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{0,330},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_kick3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{66,330},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_kick4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{132,330},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_slam0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{0,396},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_slam1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{66,396},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_slam2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{132,396},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_slam3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{0,462},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_slam4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{66,462},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_slam5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{132,462},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_slam6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{0,528},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_stand0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{66,528},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_stand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{132,528},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_stand2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{0,594},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_stand3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{66,594},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_u0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{132,594},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_u1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{0,660},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_walk0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{66,660},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_walk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{132,660},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_walk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{0,726},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_walk3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{66,726},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_walk4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{132,726},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_dino_walk5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{0,792},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yellow_dino.png</string>
            <key>size</key>
            <string>{198,858}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59e647a61cef0d85323b53743c9b9361:f901eb7b8d48f1cd143a047f5cb87f3a:bc075b66ecd961a953a01c015d74b276$</string>
            <key>textureFileName</key>
            <string>yellow_dino.png</string>
        </dict>
    </dict>
</plist>
