<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DarkBall Bullet (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1558},{211,189}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{211,189}}</string>
                <key>sourceSize</key>
                <string>{217,195}</string>
            </dict>
            <key>DarkBall Bullet (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1436},{217,185}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{217,185}}</string>
                <key>sourceSize</key>
                <string>{217,195}</string>
            </dict>
            <key>DarkBall Bullet (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1807},{193,195}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{193,195}}</string>
                <key>sourceSize</key>
                <string>{217,195}</string>
            </dict>
            <key>DarkBall Bullet (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1807},{195,193}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{195,193}}</string>
                <key>sourceSize</key>
                <string>{217,195}</string>
            </dict>
            <key>DarkBall Bullet (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1757},{189,193}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{189,193}}</string>
                <key>sourceSize</key>
                <string>{217,195}</string>
            </dict>
            <key>DarkBall Bullet (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1749},{189,193}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{189,193}}</string>
                <key>sourceSize</key>
                <string>{217,195}</string>
            </dict>
            <key>DarkBall Bullet (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1639},{187,187}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{187,187}}</string>
                <key>sourceSize</key>
                <string>{217,195}</string>
            </dict>
            <key>DarkBall Effect (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{752,626},{270,65}}</string>
                <key>offset</key>
                <string>{35,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,78},{270,65}}</string>
                <key>sourceSize</key>
                <string>{342,229}</string>
            </dict>
            <key>DarkBall Effect (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{752,693},{144,229}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,0},{144,229}}</string>
                <key>sourceSize</key>
                <string>{342,229}</string>
            </dict>
            <key>DarkBall Effect (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{666,985},{322,213}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{322,213}}</string>
                <key>sourceSize</key>
                <string>{342,229}</string>
            </dict>
            <key>DarkBall Effect (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,941},{330,207}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{330,207}}</string>
                <key>sourceSize</key>
                <string>{342,229}</string>
            </dict>
            <key>DarkBall Effect (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{380,746},{336,201}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{336,201}}</string>
                <key>sourceSize</key>
                <string>{342,229}</string>
            </dict>
            <key>DarkBall Effect (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{342,195}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{342,195}}</string>
                <key>sourceSize</key>
                <string>{342,229}</string>
            </dict>
            <key>DarkBall Effect (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{334,949},{330,181}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{330,181}}</string>
                <key>sourceSize</key>
                <string>{342,229}</string>
            </dict>
            <key>DarkBall Effect (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1132},{308,153}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,40},{308,153}}</string>
                <key>sourceSize</key>
                <string>{342,229}</string>
            </dict>
            <key>DarkBall Effect (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1150},{96,155}}</string>
                <key>offset</key>
                <string>{26,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,38},{96,155}}</string>
                <key>sourceSize</key>
                <string>{342,229}</string>
            </dict>
            <key>DarkBall Effect (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1427},{138,221}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,4},{138,221}}</string>
                <key>sourceSize</key>
                <string>{342,229}</string>
            </dict>
            <key>DarkBall Effect (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{331,1287},{138,227}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,1},{138,227}}</string>
                <key>sourceSize</key>
                <string>{342,229}</string>
            </dict>
            <key>DarkBall Effect (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1294},{140,229}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,0},{140,229}}</string>
                <key>sourceSize</key>
                <string>{342,229}</string>
            </dict>
            <key>DarkBall Effect (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1200},{140,229}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,0},{140,229}}</string>
                <key>sourceSize</key>
                <string>{342,229}</string>
            </dict>
            <key>DarkBall Effect (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1200},{142,227}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,1},{142,227}}</string>
                <key>sourceSize</key>
                <string>{342,229}</string>
            </dict>
            <key>DarkBall Effect (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{718,839},{144,229}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,0},{144,229}}</string>
                <key>sourceSize</key>
                <string>{342,229}</string>
            </dict>
            <key>DarkBall Effect (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1150},{142,229}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,0},{142,229}}</string>
                <key>sourceSize</key>
                <string>{342,229}</string>
            </dict>
            <key>DarkBall Hit (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{360,360}}</string>
                <key>sourceSize</key>
                <string>{378,378}</string>
            </dict>
            <key>DarkBall Hit (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1623},{182,198}}</string>
                <key>offset</key>
                <string>{-25,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,86},{182,198}}</string>
                <key>sourceSize</key>
                <string>{378,378}</string>
            </dict>
            <key>DarkBall Hit (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{378,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,378}}</string>
                <key>sourceSize</key>
                <string>{378,378}</string>
            </dict>
            <key>DarkBall Hit (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{372,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{372,372}}</string>
                <key>sourceSize</key>
                <string>{378,378}</string>
            </dict>
            <key>DarkBall Hit (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{382,376},{368,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{368,368}}</string>
                <key>sourceSize</key>
                <string>{378,378}</string>
            </dict>
            <key>DarkBall Hit (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{310,260}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,69},{310,260}}</string>
                <key>sourceSize</key>
                <string>{378,378}</string>
            </dict>
            <key>DarkBall Hit (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{756,314},{310,258}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,72},{310,258}}</string>
                <key>sourceSize</key>
                <string>{378,378}</string>
            </dict>
            <key>DarkBall Hit (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1342},{214,226}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,77},{214,226}}</string>
                <key>sourceSize</key>
                <string>{378,378}</string>
            </dict>
            <key>DarkBall Hit (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1429},{208,224}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,79},{208,224}}</string>
                <key>sourceSize</key>
                <string>{378,378}</string>
            </dict>
            <key>DarkBall Hit (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{221,1567},{188,202}}</string>
                <key>offset</key>
                <string>{-25,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,86},{188,202}}</string>
                <key>sourceSize</key>
                <string>{378,378}</string>
            </dict>
            <key>DarkBall Icon (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{346,744},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>DarkBall Icon (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{983,693},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>DarkBall Icon (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{983,727},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DarkBall.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e371069b1e671572ae17ee1238d34e12:59dc7e838ae5ef82a41cc01078ee7bac:b21d0a374f29193c6840f9de877d05a4$</string>
            <key>textureFileName</key>
            <string>DarkBall.png</string>
        </dict>
    </dict>
</plist>
