<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fire_ball/fire_red_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball/fire_red_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{32,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball/fire_red_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{64,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball/fire_yello_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,20}</string>
                <key>spriteSourceSize</key>
                <string>{40,20}</string>
                <key>textureRect</key>
                <string>{{96,0},{40,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball/fire_yello_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,20}</string>
                <key>spriteSourceSize</key>
                <string>{40,20}</string>
                <key>textureRect</key>
                <string>{{136,0},{40,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball/fire_yello_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,20}</string>
                <key>spriteSourceSize</key>
                <string>{40,20}</string>
                <key>textureRect</key>
                <string>{{176,0},{40,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball/fire_yello_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,20}</string>
                <key>spriteSourceSize</key>
                <string>{40,20}</string>
                <key>textureRect</key>
                <string>{{216,0},{40,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball/fire_yello_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,20}</string>
                <key>spriteSourceSize</key>
                <string>{40,20}</string>
                <key>textureRect</key>
                <string>{{256,0},{40,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_ball/fire_yello_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,20}</string>
                <key>spriteSourceSize</key>
                <string>{40,20}</string>
                <key>textureRect</key>
                <string>{{296,0},{40,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_rock/fire_rock_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,116}</string>
                <key>spriteSourceSize</key>
                <string>{166,116}</string>
                <key>textureRect</key>
                <string>{{336,0},{166,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_rock/fire_rock_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,116}</string>
                <key>spriteSourceSize</key>
                <string>{166,116}</string>
                <key>textureRect</key>
                <string>{{0,116},{166,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_rock/fire_rock_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,116}</string>
                <key>spriteSourceSize</key>
                <string>{166,116}</string>
                <key>textureRect</key>
                <string>{{0,464},{166,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_rock/fire_rock_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,116}</string>
                <key>spriteSourceSize</key>
                <string>{166,116}</string>
                <key>textureRect</key>
                <string>{{166,464},{166,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_rock/fire_rock_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,116}</string>
                <key>spriteSourceSize</key>
                <string>{166,116}</string>
                <key>textureRect</key>
                <string>{{332,464},{166,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_rock/fire_rock_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,116}</string>
                <key>spriteSourceSize</key>
                <string>{166,116}</string>
                <key>textureRect</key>
                <string>{{166,116},{166,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_rock/fire_rock_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,116}</string>
                <key>spriteSourceSize</key>
                <string>{166,116}</string>
                <key>textureRect</key>
                <string>{{332,116},{166,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_rock/fire_rock_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,116}</string>
                <key>spriteSourceSize</key>
                <string>{166,116}</string>
                <key>textureRect</key>
                <string>{{0,232},{166,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_rock/fire_rock_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,116}</string>
                <key>spriteSourceSize</key>
                <string>{166,116}</string>
                <key>textureRect</key>
                <string>{{166,232},{166,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_rock/fire_rock_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,116}</string>
                <key>spriteSourceSize</key>
                <string>{166,116}</string>
                <key>textureRect</key>
                <string>{{332,232},{166,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_rock/fire_rock_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,116}</string>
                <key>spriteSourceSize</key>
                <string>{166,116}</string>
                <key>textureRect</key>
                <string>{{0,348},{166,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_rock/fire_rock_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,116}</string>
                <key>spriteSourceSize</key>
                <string>{166,116}</string>
                <key>textureRect</key>
                <string>{{166,348},{166,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_rock/fire_rock_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,116}</string>
                <key>spriteSourceSize</key>
                <string>{166,116}</string>
                <key>textureRect</key>
                <string>{{332,348},{166,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fire.png</string>
            <key>size</key>
            <string>{502,580}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:610fe80d190019e7c3ea730bf03b842b:314f15f5240b9b3f0e8a0e51d0ecb4c2:0bb5bce7cb5efcf05dfe712e64a0ca66$</string>
            <key>textureFileName</key>
            <string>fire.png</string>
        </dict>
    </dict>
</plist>
