<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blast_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,219}</string>
                <key>spriteSourceSize</key>
                <string>{224,219}</string>
                <key>textureRect</key>
                <string>{{0,0},{224,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blast_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,219}</string>
                <key>spriteSourceSize</key>
                <string>{224,219}</string>
                <key>textureRect</key>
                <string>{{224,438},{224,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blast_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,219}</string>
                <key>spriteSourceSize</key>
                <string>{224,219}</string>
                <key>textureRect</key>
                <string>{{448,438},{224,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blast_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,219}</string>
                <key>spriteSourceSize</key>
                <string>{224,219}</string>
                <key>textureRect</key>
                <string>{{224,0},{224,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blast_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,219}</string>
                <key>spriteSourceSize</key>
                <string>{224,219}</string>
                <key>textureRect</key>
                <string>{{448,0},{224,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blast_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,219}</string>
                <key>spriteSourceSize</key>
                <string>{224,219}</string>
                <key>textureRect</key>
                <string>{{672,0},{224,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blast_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,219}</string>
                <key>spriteSourceSize</key>
                <string>{224,219}</string>
                <key>textureRect</key>
                <string>{{0,219},{224,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blast_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,219}</string>
                <key>spriteSourceSize</key>
                <string>{224,219}</string>
                <key>textureRect</key>
                <string>{{224,219},{224,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blast_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,219}</string>
                <key>spriteSourceSize</key>
                <string>{224,219}</string>
                <key>textureRect</key>
                <string>{{448,219},{224,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blast_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,219}</string>
                <key>spriteSourceSize</key>
                <string>{224,219}</string>
                <key>textureRect</key>
                <string>{{672,219},{224,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blast_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,219}</string>
                <key>spriteSourceSize</key>
                <string>{224,219}</string>
                <key>textureRect</key>
                <string>{{0,438},{224,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>blast.png</string>
            <key>size</key>
            <string>{896,657}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05b5f4cd1d8cbc7f4236fbe0ab771d6c:7475323fc62b97ea90cd965bc42193c2:e88d2f13f546b76d18e9c0c35551aac7$</string>
            <key>textureFileName</key>
            <string>blast.png</string>
        </dict>
    </dict>
</plist>
