<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aura_fairy/aura_fairy (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,44}</string>
                <key>spriteSourceSize</key>
                <string>{110,44}</string>
                <key>textureRect</key>
                <string>{{0,0},{110,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_fairy/aura_fairy (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,44}</string>
                <key>spriteSourceSize</key>
                <string>{110,44}</string>
                <key>textureRect</key>
                <string>{{0,44},{110,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_fairy/aura_fairy (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,44}</string>
                <key>spriteSourceSize</key>
                <string>{110,44}</string>
                <key>textureRect</key>
                <string>{{110,44},{110,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_fairy/aura_fairy (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,44}</string>
                <key>spriteSourceSize</key>
                <string>{110,44}</string>
                <key>textureRect</key>
                <string>{{220,44},{110,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_fairy/aura_fairy (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,44}</string>
                <key>spriteSourceSize</key>
                <string>{110,44}</string>
                <key>textureRect</key>
                <string>{{330,44},{110,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_fairy/aura_fairy (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,44}</string>
                <key>spriteSourceSize</key>
                <string>{110,44}</string>
                <key>textureRect</key>
                <string>{{440,44},{110,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_fairy/aura_fairy (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,44}</string>
                <key>spriteSourceSize</key>
                <string>{110,44}</string>
                <key>textureRect</key>
                <string>{{550,44},{110,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_fairy/aura_fairy (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,44}</string>
                <key>spriteSourceSize</key>
                <string>{110,44}</string>
                <key>textureRect</key>
                <string>{{660,44},{110,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_fairy/aura_fairy (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,44}</string>
                <key>spriteSourceSize</key>
                <string>{110,44}</string>
                <key>textureRect</key>
                <string>{{770,44},{110,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_fairy/aura_fairy (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,44}</string>
                <key>spriteSourceSize</key>
                <string>{110,44}</string>
                <key>textureRect</key>
                <string>{{880,44},{110,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_fairy/aura_fairy (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,44}</string>
                <key>spriteSourceSize</key>
                <string>{110,44}</string>
                <key>textureRect</key>
                <string>{{110,0},{110,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_fairy/aura_fairy (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,44}</string>
                <key>spriteSourceSize</key>
                <string>{110,44}</string>
                <key>textureRect</key>
                <string>{{220,0},{110,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_fairy/aura_fairy (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,44}</string>
                <key>spriteSourceSize</key>
                <string>{110,44}</string>
                <key>textureRect</key>
                <string>{{330,0},{110,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_fairy/aura_fairy (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,44}</string>
                <key>spriteSourceSize</key>
                <string>{110,44}</string>
                <key>textureRect</key>
                <string>{{440,0},{110,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_fairy/aura_fairy (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,44}</string>
                <key>spriteSourceSize</key>
                <string>{110,44}</string>
                <key>textureRect</key>
                <string>{{550,0},{110,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_fairy/aura_fairy (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,44}</string>
                <key>spriteSourceSize</key>
                <string>{110,44}</string>
                <key>textureRect</key>
                <string>{{660,0},{110,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_fairy/aura_fairy (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,44}</string>
                <key>spriteSourceSize</key>
                <string>{110,44}</string>
                <key>textureRect</key>
                <string>{{770,0},{110,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aura_fairy/aura_fairy (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,44}</string>
                <key>spriteSourceSize</key>
                <string>{110,44}</string>
                <key>textureRect</key>
                <string>{{880,0},{110,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flash_blue/flash_blue (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,256}</string>
                <key>spriteSourceSize</key>
                <string>{114,256}</string>
                <key>textureRect</key>
                <string>{{0,88},{114,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flash_blue/flash_blue (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,256}</string>
                <key>spriteSourceSize</key>
                <string>{114,256}</string>
                <key>textureRect</key>
                <string>{{114,344},{114,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flash_blue/flash_blue (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,256}</string>
                <key>spriteSourceSize</key>
                <string>{114,256}</string>
                <key>textureRect</key>
                <string>{{228,344},{114,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flash_blue/flash_blue (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,256}</string>
                <key>spriteSourceSize</key>
                <string>{114,256}</string>
                <key>textureRect</key>
                <string>{{342,344},{114,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flash_blue/flash_blue (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,256}</string>
                <key>spriteSourceSize</key>
                <string>{114,256}</string>
                <key>textureRect</key>
                <string>{{114,88},{114,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flash_blue/flash_blue (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,256}</string>
                <key>spriteSourceSize</key>
                <string>{114,256}</string>
                <key>textureRect</key>
                <string>{{228,88},{114,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flash_blue/flash_blue (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,256}</string>
                <key>spriteSourceSize</key>
                <string>{114,256}</string>
                <key>textureRect</key>
                <string>{{342,88},{114,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flash_blue/flash_blue (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,256}</string>
                <key>spriteSourceSize</key>
                <string>{114,256}</string>
                <key>textureRect</key>
                <string>{{456,88},{114,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flash_blue/flash_blue (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,256}</string>
                <key>spriteSourceSize</key>
                <string>{114,256}</string>
                <key>textureRect</key>
                <string>{{570,88},{114,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flash_blue/flash_blue (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,256}</string>
                <key>spriteSourceSize</key>
                <string>{114,256}</string>
                <key>textureRect</key>
                <string>{{684,88},{114,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flash_blue/flash_blue (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,256}</string>
                <key>spriteSourceSize</key>
                <string>{114,256}</string>
                <key>textureRect</key>
                <string>{{798,88},{114,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flash_blue/flash_blue (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,256}</string>
                <key>spriteSourceSize</key>
                <string>{114,256}</string>
                <key>textureRect</key>
                <string>{{0,344},{114,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spark/spark_blue_I (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{456,344},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spark/spark_blue_I (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{520,344},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spark/spark_blue_I (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{584,344},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spark/spark_blue_I (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{648,344},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spark/spark_blue_II (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{712,344},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spark/spark_blue_II (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{776,344},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spark/spark_blue_II (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{840,344},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spark/spark_blue_II (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{904,344},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spark/spark_red_I (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{0,600},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spark/spark_red_I (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{64,600},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spark/spark_red_I (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{128,600},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spark/spark_red_I (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{192,600},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spark/spark_red_II (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{256,600},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spark/spark_red_II (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{320,600},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spark/spark_red_II (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{384,600},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spark/spark_red_II (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{448,600},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spark/spark_yellow_I (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{512,600},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spark/spark_yellow_I (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{576,600},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spark/spark_yellow_I (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{640,600},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spark/spark_yellow_I (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{704,600},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spark/spark_yellow_II (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{768,600},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spark/spark_yellow_II (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{832,600},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spark/spark_yellow_II (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{896,600},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spark/spark_yellow_II (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{960,600},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mistic.png</string>
            <key>size</key>
            <string>{1024,664}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:788a626f8349ea3e50390932922de4da:98dd22d01247f7c1df5de7b7e81c98e0:24475b1384b00b85deaeb348ac931334$</string>
            <key>textureFileName</key>
            <string>mistic.png</string>
        </dict>
    </dict>
</plist>
