<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>twin_dragon (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,558}</string>
                <key>spriteSourceSize</key>
                <string>{740,558}</string>
                <key>textureRect</key>
                <string>{{740,558},{740,558}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>twin_dragon (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,558}</string>
                <key>spriteSourceSize</key>
                <string>{740,558}</string>
                <key>textureRect</key>
                <string>{{0,1116},{740,558}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>twin_dragon (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,558}</string>
                <key>spriteSourceSize</key>
                <string>{740,558}</string>
                <key>textureRect</key>
                <string>{{740,1116},{740,558}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>twin_dragon (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,558}</string>
                <key>spriteSourceSize</key>
                <string>{740,558}</string>
                <key>textureRect</key>
                <string>{{0,0},{740,558}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>twin_dragon (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,558}</string>
                <key>spriteSourceSize</key>
                <string>{740,558}</string>
                <key>textureRect</key>
                <string>{{740,0},{740,558}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>twin_dragon (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,558}</string>
                <key>spriteSourceSize</key>
                <string>{740,558}</string>
                <key>textureRect</key>
                <string>{{0,558},{740,558}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>twin_dragon02.png</string>
            <key>size</key>
            <string>{1480,1674}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae5daac0e51211621d8f0b2785e63e13:d06d6b620d3f8af147fe2e724394d944:8b93181f2deee273266d40938d43da99$</string>
            <key>textureFileName</key>
            <string>twin_dragon02.png</string>
        </dict>
    </dict>
</plist>
