<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ape_dino0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,78}</string>
                <key>spriteSourceSize</key>
                <string>{96,78}</string>
                <key>textureRect</key>
                <string>{{0,0},{96,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ape_dino1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,78}</string>
                <key>spriteSourceSize</key>
                <string>{96,78}</string>
                <key>textureRect</key>
                <string>{{96,0},{96,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ape_dino2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,78}</string>
                <key>spriteSourceSize</key>
                <string>{96,78}</string>
                <key>textureRect</key>
                <string>{{0,78},{96,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ape_dino3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,78}</string>
                <key>spriteSourceSize</key>
                <string>{96,78}</string>
                <key>textureRect</key>
                <string>{{96,78},{96,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exclamation_mark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,300}</string>
                <key>spriteSourceSize</key>
                <string>{220,300}</string>
                <key>textureRect</key>
                <string>{{0,156},{220,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>question_mark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,300}</string>
                <key>spriteSourceSize</key>
                <string>{220,300}</string>
                <key>textureRect</key>
                <string>{{0,456},{220,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ape_dino.png</string>
            <key>size</key>
            <string>{220,756}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a28ae2e87a3f0674b2a64a18873a71b:9c4f3ef1c96c8bfaef5daaaa2c80b2d2:039b492cbbf348252dbbf36147b56eac$</string>
            <key>textureFileName</key>
            <string>ape_dino.png</string>
        </dict>
    </dict>
</plist>
