<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kukulkan0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,125}</string>
                <key>spriteSourceSize</key>
                <string>{150,125}</string>
                <key>textureRect</key>
                <string>{{0,0},{150,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kukulkan1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,125}</string>
                <key>spriteSourceSize</key>
                <string>{150,125}</string>
                <key>textureRect</key>
                <string>{{0,125},{150,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kukulkan10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,125}</string>
                <key>spriteSourceSize</key>
                <string>{150,125}</string>
                <key>textureRect</key>
                <string>{{0,1250},{150,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kukulkan11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,125}</string>
                <key>spriteSourceSize</key>
                <string>{150,125}</string>
                <key>textureRect</key>
                <string>{{0,1375},{150,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kukulkan12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,125}</string>
                <key>spriteSourceSize</key>
                <string>{150,125}</string>
                <key>textureRect</key>
                <string>{{0,1500},{150,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kukulkan13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,125}</string>
                <key>spriteSourceSize</key>
                <string>{150,125}</string>
                <key>textureRect</key>
                <string>{{0,1625},{150,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kukulkan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,125}</string>
                <key>spriteSourceSize</key>
                <string>{150,125}</string>
                <key>textureRect</key>
                <string>{{0,250},{150,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kukulkan3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,125}</string>
                <key>spriteSourceSize</key>
                <string>{150,125}</string>
                <key>textureRect</key>
                <string>{{0,375},{150,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kukulkan4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,125}</string>
                <key>spriteSourceSize</key>
                <string>{150,125}</string>
                <key>textureRect</key>
                <string>{{0,500},{150,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kukulkan5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,125}</string>
                <key>spriteSourceSize</key>
                <string>{150,125}</string>
                <key>textureRect</key>
                <string>{{0,625},{150,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kukulkan6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,125}</string>
                <key>spriteSourceSize</key>
                <string>{150,125}</string>
                <key>textureRect</key>
                <string>{{0,750},{150,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kukulkan7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,125}</string>
                <key>spriteSourceSize</key>
                <string>{150,125}</string>
                <key>textureRect</key>
                <string>{{0,875},{150,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kukulkan8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,125}</string>
                <key>spriteSourceSize</key>
                <string>{150,125}</string>
                <key>textureRect</key>
                <string>{{0,1000},{150,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kukulkan9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,125}</string>
                <key>spriteSourceSize</key>
                <string>{150,125}</string>
                <key>textureRect</key>
                <string>{{0,1125},{150,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kukulkan.png</string>
            <key>size</key>
            <string>{150,1750}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f4900840b68855b69905458ee0164cd:1029227855ebd4fcb74c586b2d2c6fda:ff113d37b2f1e73a1713e7b065752a47$</string>
            <key>textureFileName</key>
            <string>kukulkan.png</string>
        </dict>
    </dict>
</plist>
