<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mushroom_stand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,76}</string>
                <key>spriteSourceSize</key>
                <string>{73,76}</string>
                <key>textureRect</key>
                <string>{{73,75},{73,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mushroom_hitted0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,86}</string>
                <key>spriteSourceSize</key>
                <string>{73,86}</string>
                <key>textureRect</key>
                <string>{{0,224},{73,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mushroom_hitted1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,76}</string>
                <key>spriteSourceSize</key>
                <string>{73,76}</string>
                <key>textureRect</key>
                <string>{{146,76},{73,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mushroom_hitted2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,76}</string>
                <key>spriteSourceSize</key>
                <string>{73,76}</string>
                <key>textureRect</key>
                <string>{{219,76},{73,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mushroom_hitted3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,76}</string>
                <key>spriteSourceSize</key>
                <string>{73,76}</string>
                <key>textureRect</key>
                <string>{{73,75},{73,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mushroom_die0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,69}</string>
                <key>spriteSourceSize</key>
                <string>{73,69}</string>
                <key>textureRect</key>
                <string>{{0,308},{73,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mushroom_die1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,69}</string>
                <key>spriteSourceSize</key>
                <string>{73,69}</string>
                <key>textureRect</key>
                <string>{{73,308},{73,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mushroom_die2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,69}</string>
                <key>spriteSourceSize</key>
                <string>{73,69}</string>
                <key>textureRect</key>
                <string>{{146,308},{73,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mushroom.png</string>
            <key>size</key>
            <string>{292,382}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df15479e2363e16d5ca796e046895a55:e00c121e0b2f640847f9660a4806f4c1:84b2c11eb394a896c407a860062d13ba$</string>
            <key>textureFileName</key>
            <string>mushroom.png</string>
        </dict>
    </dict>
</plist>
