<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smite_chronos_cast_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{0,0},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_cast_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{160,0},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_cast_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{640,215},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_cast_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{800,215},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_cast_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{0,430},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_cast_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{160,430},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_cast_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{320,430},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_cast_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{480,430},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_cast_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{640,430},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_cast_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{800,430},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_cast_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{0,645},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_cast_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{160,645},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_cast_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{320,0},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_cast_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{320,645},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_cast_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{480,645},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_cast_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{640,645},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_cast_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{800,645},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_cast_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{0,860},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_cast_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{160,860},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_cast_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{320,860},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_cast_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{480,860},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_cast_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{640,860},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_cast_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{800,860},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_cast_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{480,0},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_cast_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{0,1075},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_cast_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{160,1075},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_cast_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{320,1075},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_cast_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{640,0},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_cast_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{800,0},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_cast_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{0,215},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_cast_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{160,215},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_cast_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{320,215},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_cast_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{480,215},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_ilde_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{480,1075},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_ilde_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{640,1075},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_ilde_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{800,1075},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_ilde_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{0,1290},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_ilde_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{160,1290},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_ilde_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{320,1290},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_ilde_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{480,1290},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_ilde_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{640,1290},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smite_chronos_ilde_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,215}</string>
                <key>spriteSourceSize</key>
                <string>{160,215}</string>
                <key>textureRect</key>
                <string>{{800,1290},{160,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>smite_chronos.png</string>
            <key>size</key>
            <string>{960,1505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8c739d41bd0d1a60865e3a1f19ac7b1:5b9167f2b493a741c76b9f37aaec05ca:be5e0373c69313d04e2bc3cfd24bacc7$</string>
            <key>textureFileName</key>
            <string>smite_chronos.png</string>
        </dict>
    </dict>
</plist>
