<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>t_rex_cyber0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,128}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{0,0},{256,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_rex_cyber1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,128}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{256,0},{256,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_rex_cyber2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,128}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{512,0},{256,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_rex_cyber3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,128}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{768,0},{256,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_rex_cyber4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,128}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{1024,0},{256,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_rex_cyber5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,128}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{1280,0},{256,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>t_rex_cyber.png</string>
            <key>size</key>
            <string>{1536,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:612e52c499ceec905b31ed740223ef4d:6d04f83c8c5ad55ec7e340d8ca530c84:0961ccfafa55234667edace331befbcb$</string>
            <key>textureFileName</key>
            <string>t_rex_cyber.png</string>
        </dict>
    </dict>
</plist>
