<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>werewolf_attack0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,208}</string>
                <key>spriteSourceSize</key>
                <string>{320,208}</string>
                <key>textureRect</key>
                <string>{{0,0},{320,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>werewolf_attack1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,208}</string>
                <key>spriteSourceSize</key>
                <string>{320,208}</string>
                <key>textureRect</key>
                <string>{{320,0},{320,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>werewolf_attack2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,208}</string>
                <key>spriteSourceSize</key>
                <string>{320,208}</string>
                <key>textureRect</key>
                <string>{{640,0},{320,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>werewolf_attack3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,208}</string>
                <key>spriteSourceSize</key>
                <string>{320,208}</string>
                <key>textureRect</key>
                <string>{{960,0},{320,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>werewolf_attack4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,208}</string>
                <key>spriteSourceSize</key>
                <string>{320,208}</string>
                <key>textureRect</key>
                <string>{{1280,0},{320,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>werewolf_idle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,208}</string>
                <key>spriteSourceSize</key>
                <string>{320,208}</string>
                <key>textureRect</key>
                <string>{{0,208},{320,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>werewolf_walk0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,208}</string>
                <key>spriteSourceSize</key>
                <string>{320,208}</string>
                <key>textureRect</key>
                <string>{{320,208},{320,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>werewolf_walk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,208}</string>
                <key>spriteSourceSize</key>
                <string>{320,208}</string>
                <key>textureRect</key>
                <string>{{640,208},{320,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>werewolf_walk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,208}</string>
                <key>spriteSourceSize</key>
                <string>{320,208}</string>
                <key>textureRect</key>
                <string>{{960,208},{320,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>werewolf_walk3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,208}</string>
                <key>spriteSourceSize</key>
                <string>{320,208}</string>
                <key>textureRect</key>
                <string>{{1280,208},{320,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>werewolf.png</string>
            <key>size</key>
            <string>{1600,416}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df15479e2363e16d5ca796e046895a55:e00c121e0b2f640847f9660a4806f4c1:84b2c11eb394a896c407a860062d13ba$</string>
            <key>textureFileName</key>
            <string>werewolf.png</string>
        </dict>
    </dict>
</plist>
