<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>play_frame0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,450}</string>
                <key>spriteSourceSize</key>
                <string>{512,450}</string>
                <key>textureRect</key>
                <string>{{0,0},{512,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play_frame1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,450}</string>
                <key>spriteSourceSize</key>
                <string>{512,450}</string>
                <key>textureRect</key>
                <string>{{512,0},{512,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>play_frames.png</string>
            <key>size</key>
            <string>{1024,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbfac498abc7e413e4be6a63e36e6252:c4426cac3b6980c03d51204b4f83df53:7540acb0135cf78ab38326c640ba2ffa$</string>
            <key>textureFileName</key>
            <string>play_frames.png</string>
        </dict>
    </dict>
</plist>
