<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{32,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{64,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{96,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moving_block.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,32}</string>
                <key>spriteSourceSize</key>
                <string>{128,32}</string>
                <key>textureRect</key>
                <string>{{128,0},{128,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>moving_block.png</string>
            <key>size</key>
            <string>{256,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:996e3b4aaa09176fd5ddbecce4279b3a:89fb3a211c718b7480a35b113b81172f:02e9c1de295a7a9c092d544f076b8c36$</string>
            <key>textureFileName</key>
            <string>moving_block.png</string>
        </dict>
    </dict>
</plist>
